In [1]:
import pandas as pd
import os
import numpy as np

In [2]:
csv_file = "election_data.csv"

election_df = pd.read_csv(csv_file)

In [3]:
election_df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [4]:
total_votes = len(election_df["Voter ID"].unique())

print(total_votes)

3521001

In [7]:
list_candidates = election_df["Candidate"].unique()
list_candidates

array(['Khan', 'Correy', 'Li', "O'Tooley"], dtype=object)

In [9]:
list = election_df["Candidate"].value_counts()
print(list)

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

In [20]:
khan_df = election_df.loc[election_df["Candidate"] == "Khan"]
khan = len(khan_df.value_counts())
khan_percent = khan / total_votes
print("Khan", khan, khan_percent)

Khan 2218231 0.6300001050837531

In [21]:
correy_df = election_df.loc[election_df["Candidate"] == "Correy"]
correy = len(correy_df.value_counts())
correy_percent = correy / total_votes
print("Correy", correy, correy_percent)

Correy 704200 0.19999994319797126

In [22]:
li_df = election_df.loc[election_df["Candidate"] == "Li"]
li = len(li_df.value_counts())
li_percent = li / total_votes
print("Li", li, li_percent)

Li 492940 0.13999996023857988

In [23]:
otooley_df = election_df.loc[election_df["Candidate"] == "O'Tooley"]
otooley = len(otooley_df.value_counts())
otooley_percent = otooley / total_votes
print("O'Tooley", otooley, otooley_percent)

O'Tooley 105630 0.02999999147969569

In [35]:
print("Winner: Khan")

Winner: Khan